.home{
    height: 100vh;
    background-color: #1abc9c;
}
.home_content{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
}
.homeTitle{
    font-size: 50px;
}
.homeIcon{
    position: relative;
    margin: auto;
}
.homeIcon:after{
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    height: 4px;
    background-color: #fff;
    left: 40%;
    top: 65%;
}
.homeIcon:before{
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    height: 4px;
    background-color: #fff;
    right: 40%;
    top: 65%;
}

.homeSkills{
   font-size: 20px;
}

.image{
    width: 10%;
}